<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:infonique="http://typo3.org/ns/Infonique/Newt/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons">
</f:section>

<f:section name="Content">
    <h3><f:translate key="tx_newt_admin.index.scan" /></h3>

    <div class="d-flex flex-row mb-3">
        <div class="me-3 mr-3">
            <img src="{infonique:qrcode(content: '{qr_content}')}" class="qr-code">
        </div>
        <div class="flex-grow-1 align-self-center">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><f:translate key="tx_newt_admin.index.url" /></div>
                        <div class="col-md-9">{data.url}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><f:translate key="tx_newt_admin.index.username" /></div>
                        <div class="col-md-9">{data.user}</div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><f:translate key="tx_newt_admin.index.token" /></div>
                        <div class="col-md-9">{data.token}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-9"><f:link.action action="tokenRefresh" class="btn btn-sm btn-danger t3js-modal-trigger" additionalAttributes="{'data-title':'{f:translate(key: \'tx_newt_admin.tokenRefresh.title\')}', 'data-bs-content':'{f:translate(key: \'tx_newt_admin.tokenRefresh.message\')}'}"><f:translate key="tx_newt_admin.tokenRefresh.title" /></f:link.action></div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3"><f:translate key="tx_newt_admin.index.token_isseud" /></div>
                        <div class="col-md-9">
                            <f:format.date format="d.m.Y H:i:s">{tokenIssedDate}</f:format.date> ({timeZone})
                        </div>
                    </div>
                </li>
                <f:if condition="{tokenExpireDate}">
                    <li class="list-group-item {f:if(condition:'{tokenExpired}', then:'list-group-item-danger', else:'list-group-item-success')}">
                        <div class="row">
                            <div class="col-md-3"><f:translate key="tx_newt_admin.index.token_expires" /></div>
                            <div class="col-md-9">
                                <f:format.date format="d.m.Y H:i:s">{tokenExpireDate}</f:format.date> ({timeZone})
                            </div>
                        </div>
                    </li>
                </f:if>
            </ul>
        </div>
    </div>

    <h4><f:translate key="tx_newt_admin.index.endpoints" /></h4>
    <table class="tx_newt table">
        <tr>
            <th><f:translate key="tx_newt_domain_model_endpoint.name" /></th>
            <th><f:translate key="tx_newt_domain_model_endpoint.description" /></th>
            <th><f:translate key="tx_newt_domain_model_endpoint.endpoint_class" /></th>
        </tr>
        <f:for each="{endpoints}" as="endpoint">
            <tr>
                <td>{endpoint.name}</td>
                <td>{endpoint.description}</td>
                <td>{endpoint.endpointClass}</td>
            </tr>
        </f:for>
    </table>

</f:section>

</html>
