<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:infonique="http://typo3.org/ns/Infonique/Newt/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Buttons">
    <be:moduleLayout.button.linkButton
        icon="actions-add"
        title="{f:translate(id: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:newRecordGeneral')}"
        link="{f:uri.action(controller: 'Endpoint', action: 'new')}"
    />
</f:section>

<f:section name="Content">
    <h1>Listing for Endpoint</h1>

    <h3>Scan this code with the Newt-App</h3>
    <img src="{infonique:qrcode(content: '{qr_content}')}" class="qr-code">
    <p>{qr_content}</p>

    <f:flashMessages />

    <table class="tx_newt">
        <tr>
            <th><f:translate key="tx_newt_domain_model_endpoint.name" /></th>
            <th><f:translate key="tx_newt_domain_model_endpoint.description" /></th>
            <th><f:translate key="tx_newt_domain_model_endpoint.endpoint_class" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{endpoints}" as="endpoint">
            <tr>
                <td><f:link.action action="show" arguments="{endpoint: endpoint}">{endpoint.name}</f:link.action></td>
                <td><f:link.action action="show" arguments="{endpoint: endpoint}">{endpoint.description}</f:link.action></td>
                <td><f:link.action action="show" arguments="{endpoint: endpoint}">{endpoint.endpointClass}</f:link.action></td>
                <td><f:link.action action="edit" arguments="{endpoint: endpoint}" class="btn btn-default">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{endpoint: endpoint}" class="btn btn-danger">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new" class="btn btn-default">New Endpoint</f:link.action>
</f:section>
</html>
